@import '../base/index';
@import "node_modules/bootstrap/scss/bootstrap";

.footer {
    margin-top: $margin-header-footer;
}

.footer-top {
    background-color: $color-light-grey;
    padding-inline-start: 80px 0;
    display: flex;
    justify-content: space-evenly;
}

.segment-one h3{
    letter-spacing: 3px;
    margin: 10px 0;
}

.segment-two h2::before {
    content: '|';
    color: $color-main;
    padding-right: 10px;
}

.segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li {
    border-bottom: 1px solid $color-dark-grey ;
    line-height: 40px;
}

.segment-two ul li a {
    color: $color-dark-grey;
    text-decoration: none;
}

.segment-three h2::before {
    content: '|';
    color: $color-main;
    padding-right: 10px;
}

.segment-three a i {
    font-size: 15pt;
    color: $color-dark-grey;
    padding: 10px 12px;
    transition-duration: .3s;
}

.segment-three a i:hover {
    color: $color-main;
    transition-duration: .3s;
}

.segment-four h2::before {
    content: '|';
    color: $color-main;
    padding-right: 10px;
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter > p {
    margin-right: 10px;
}

.newsletterInput > .inputNewsletter {
    height: 40px;
    width: 200px;
    padding-left: 10px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: white;
    display: block;
    float: left;
}

.newsletterInput > .btnNewsletter {
    background-color: $color-main;
    height: 40px;
    width: 40px;
    color: $color-light-grey;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition-duration: .2s;
}

.newsletterInput > .btnNewsletter:focus , .inputNewsletter:focus {
    outline: none;
}

.newsletterInput > button:hover {
    background-color: $color-light-blue;
    transition-duration: .2s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .md-mb-30 {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 767px) {
    .sm-mb-30 {
        margin-bottom: 30px;
    }
    .footer-top {
        padding: 50px 0;
    }
}
