@import './variables';

body {
    font-family: $font-main;
    font-family: serif;
    color: $color-title;
}

h1 {
    font-size: 30pt;
}

p {
    font-size: 13pt;
    color: $color-body;
}

.bodyPromo {
    text-align: center;
}

* {
    font-family: $font-main;
}
