@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

$color-main: #0084FF;
$color-blue: $color-main;
$color-light-blue: rgb(106, 183, 255);
$color-light-grey: #f1f1f1;
$color-lighter-grey: #f7f7f7;
$color-dark-grey: rgb(56, 56, 56);
$color-grey: rgb(167, 167, 167);

$color-title: $color-dark-grey;
$color-body: rgb(148, 148, 148);

$font-main: 'Barlow', sans-serif;

$height-header: 69px;
$height-footer: 30px;
