@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color-main: #0084FF;
$color-blue: $color-main;
$color-light-grey: #f1f1f1;
$color-dark-grey: rgb(56, 56, 56);

$font-main: 'Roboto', sans-serif;
