.donationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrapper {
        width: 7    0%;
        .section1 {
            text-align: center;
        }
    }

}
